body
  h3  = "#{@client.name}'s pet(s) information was updated by the advocate."
  p  Please login to the <a href='http://secure.thesafehavennetwork.org'>dashboard</a> to view the updated details for this pet.