.row style='min-height: 35%;'
  .col-md-6 style='min-height: 20em;'
    - unless @pending_users.blank?
      = render 'admin/pending_users'
    - else
      = render 'admin/all_users'

  .col-md-6 style='min-height: 20em;'
    = render 'admin/recent_activity'

.row
  .col-md-6 style='min-height: 20em;'
    - unless @pending_users.blank?
      = render 'admin/all_users'

javascript:
  $("[name='toggle_application_status']").bootstrapSwitch(
    { onText:  'Enabled',
      offText: 'Disabled',
      size:    'small',
      onSwitchChange: function(event, state){
        str_split = event.target.id.split('_');
        url = '/toggle/' + str_split[1] + '/' + str_split[2] + '/' + state;
        $.post( url, function( data ) {
          row = $('#' + event.target.id).parent().parent().parent().parent();
          orig_color = row.css('background-color')
          if (data.status == 'failure'){
            row.animate({ backgroundColor: '#FDACAC'}, 1).animate({ backgroundColor: orig_color}, 1500)
          }
          else {
            row.animate({ backgroundColor: '#ACFDC5'}, 1).animate({ backgroundColor: orig_color}, 1500)
          }
        });
      }
    }
  );

