- unless @client.pets.blank?
  - for pet in @client.pets
    = render 'pet/summary', pet: pet, no_edit: no_edit

javascript:
  function deletePetRow(row_id){
    console.info(row_id);
    row = $('#'+row_id);
    if (row.attr('persisted') == 'true'){
      url = '/pet/' + row_id.split('_')[1] + '/delete';
      $.post(url, function( data ) {
          if (data.status == 'failure'){
            row.animate({ backgroundColor: '#FDACAC'}, 1).animate({ backgroundColor: orig_color}, 1500)
          }
          else {
            row.remove();
          }
        });
    }
    else {
      row.remove();
    }
  }
