nav.navbar.navbar-default role="navigation"
  .container-fluid
    .navbar-header
      a.navbar-brand href="http://thesafehavennetwork.org" id="logoA"
        = image_tag "SHN-side-logo-2.png", id: "logoImg"

    - if current_user
      .row
        .col-sm-12
          p.pull-right style='color:white;' = "Logged in as #{current_user.email}"
      .row
        .col-sm-12
          = link_to "Sign out", destroy_user_session_path, :method => :delete, style: 'font-weight: 900; width:auto; padding: 2px', class: "qa-sign-out pull-right sh-default-btn"
          - unless current_user.disabled?
            = link_to "My Account", "/user/#{current_user.slug || current_user.id}", style: 'font-weight: 900; width:auto; padding: 2px; margin-right: 4px;', class: 'pull-right sh-default-btn'
            = link_to "Dashboard", root_url, style: 'font-weight: 900; width:auto; padding: 2px; margin-right: 4px;', class: 'pull-right sh-default-btn'
      .row
        .col-sm-12
          - unless current_user.disabled?
            form.pull-right id="live-search-form" style='width: 20%; margin-top:6px;' method="get" action="<%= search_path %>" autocomplete='off'
              input.form-control id="live-search-box" name="q" type="text" placeholder='search'

.search-results id='live-search-results'

javascript:
  $searchBox     = $("#live-search-box");
  $searchForm    = $("#live-search-form");
  $searchResults = $("#live-search-results");

  $("#live-search-box").keypress(
    function(event){
     //Capture enter key
      if (event.keyCode == '13') {
        event.preventDefault();
        url = $('.focussed-search-result a').attr('href')
        if  (url == undefined || url == ''){return;}
        window.location.replace(url);
      }
     //Capture down arrow
     if (event.keyCode == '40') {
        if ($('.focussed-search-result').length == 0){
          $('.result').first().addClass('focussed-search-result');
          return;
        }

        $.each( $('.result'), function(i, item){
          $result = $(item);
          if ($result.hasClass('focussed-search-result')){
            if ($result.next().length == 0){return false}
            $result.removeClass('focussed-search-result');
            $result.next().addClass('focussed-search-result');
            return false;
          }
       });
     }
     //Capture up arrow
     if (event.keyCode == '38') {
        $.each( $('.result'), function(i, item){
          $result = $(item);
          if ($result.hasClass('focussed-search-result')){
            $result.removeClass('focussed-search-result');
            $result.prev().addClass('focussed-search-result');
            return false;
          }
       });
     }
  });

  $('#live-search-results').on('click', function(e) {
      e.stopPropagation();
  });

    $searchBox.bind("blur", function() {
      $("#live-search-results").slideUp();
    });

  $searchBox.bind("keyup", function(e) {
    if (e.keyCode == 13 || e.keyCode == 40 || e.keyCode == 38){ return; }
    var url      = "/live-search";
    var form     = $("#live-search-form");
    var formData = form.serialize();
    $("#live-search-results").slideDown();
    if ($searchBox.val() == null || $searchBox.val() == ''){ $searchResults.html(''); $("#live-search-results").slideUp(); return; }
    $.get(url, formData, function(html) {
      $searchResults.css('top', ($searchBox.offset().top + $searchForm.height()));
      $searchResults.css('left', $searchBox.offset().left);
      $searchResults.html(html);
    });
  });
