.jumbotron style='width: 75%; margin: 0 auto; padding: 2em; border-radius: 2em;'
  h1 Oops.  Something went wrong!
  p Don't worry though, we're on it.  Please check back shortly to resume using the Secure Portal
  = image_tag 'sadpanda.png', style: 'height: 50%;'
