body
  h3  A domestic violence advocate has submitted a Safe Haven Referral application! 
  p  Please login to the <a href='http://secure.thesafehavennetwork.org'>dashboard</a> to view the details for this client.
