body
  h3  A new client's application has been completed, and has pets in need!
  p  Please login to the <a href='http://secure.thesafehavennetwork.org'>dashboard</a> to view the details for this client.