/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pending-user{
  background-color: rgba(123, 10, 123, 0.29);
}
.admin-stat-icon{
  font-size: 6em;
  color: white;
}

.admin-stat{
  font-size: 4em;
  float: left;
}

.admin-stat-label{
  font-weight: 900;
  padding: 8px;
}

 .focussed-search-result{
  background-color: rgba(157, 89, 212, 0.51);
 }

.search-results {
  z-index: 3001;
  position: absolute;
  background-color: rgba(115, 51, 183, 0.83);
  width: 20em;
  color: white;
  border-radius: 6px;
}

.search-result a {
  margin-left: 2px;
  padding: 4px;
}

.detail-group {
  width: 100%;
  display: table-cell;
  float: left;
}

.address {
  display: block;
}

.sh-more-info {
  position: relative;
  top: 20%;
}

.sh-panel-title {
  margin-top: 2px;
}

.detail-title {
  text-decoration: underline;
  margin-bottom: 4px;
}

.pet-summary-panel {
  width: 40%;
  float: left;
  margin: 4px;
}

.sh-default-btn {
  color:            white;
  width:            100%;
  margin-bottom:    4px;
  background-color: #7842F4;
}

.btn {
  margin-left: 4px;
}

#giveSpace {
  margin: 20px;
}

.navbar {
  background-color: #2c3135;
  padding-bottom:   2em;
  padding-left:     auto;
  min-height:       100px;
}

#logoA {
  display:        inline-block;
  vertical-align: middle;
  max-width:      100%;
  height:         15px;;
  line-height:    inherit;
  position:       relative;
  font-size:      28px;
}

#logoImg{
  max-height: 3em;
}

#buttonBar {
  margin: 30px;
}

#clientBox {
  background-color:#f0ad4e;
}

hr {
    display:    block;
    height:     1px;
    border:     0;
    border-top: 1px solid #ccc;
    margin:     1em 0;
    padding:    0;
}

.login-form-panel {
  width:  50%;
  margin: 0 auto;
}
